# Logs
frontend/logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/package-lock.json

# Dependencies
frontend/node_modules

# Build Output
frontend/dist
frontend/dist-ssr

# Environment / Local Config
frontend/*.local

# Backend
backend/node_modules
backend/package-lock.json
backend/node_modules
backend/.env
backend/generated/prisma

# Editor directories and files (Keep global)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
