# Logs
FRONTEND/logs
*.log
FRONTEND/npm-debug.log*
FRONTEND/yarn-debug.log*
FRONTEND/yarn-error.log*
FRONTEND/pnpm-debug.log*
FRONTEND/lerna-debug.log*

FRONTEND/package-lock.json

# Dependencies
FRONTEND/node_modules

# Build Output
FRONTEND/dist
FRONTEND/dist-ssr

# Environment / Local Config
FRONTEND/*.local

# Editor directories and files (Keep global)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
